html, body {
    height: 100%;
    font-size: 16px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-color: #87888d;

    
}

.grid {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "head main"
                         "head main"
                         "head main"
                         "head footer";
}

#nav-bar {
    grid-area: head;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 3px 0px 5px 3px #57575a;
}

.intro {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.intro h1 {
    margin: 0;
}

.intro p {
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

#naviation {
    padding: 0;
}

#naviation li {
    list-style-type: none;
    font-size: 2rem;
    align-self: center;
    margin: 0;
    padding: 2rem 0;
}

#main {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

#headshot img{
    width: 15rem;
    height: auto;
    border-radius: 180px;
    margin: 2rem;
}
